extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each message in messages
      li= message.text
      | By #{message.user} on #{message.added}
  a(href="/new") Add a message
  
